*{
    box-sizing: border-box;
}

body {
    background: #10101B;
}

.container {
    margin-top: 30px;
}

.half-width {
    height: 465px;
    background: #222436;
    padding: 30px 0px;
    width: 350px;
    text-align: center;
    margin-top: 7.5%;
}

input[type='text']{
    background-color: #3D4153;
    padding: 10px 0px;
    color: #ffffff;
    width: 90%;   
    border: 2px solid #858299;
    height: 50px;
    font-size: 25px;
    margin: auto;
    font-size: 30px;
}

input[type='text']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 30px;
}

.numbers {
    margin: 30px 0;
}

.calc-typed {
    margin-top: 20px;
    font-size: 45px;
    text-align: center;
    color: #fff;
}

.calc-button-row {
    width: 100%;
}

.button {
    width: 20%;
    background: #425062;
    color: #fff;
    padding: 10px 0;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin-right: -1px;
    border-radius: 10px;
    cursor: pointer;
}
.special {
    width: 43%;
}